<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- Include Spring Boot defaults to get the CONSOLE logger -->
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>
    <!-- Install the OpenTelemetry log appender -->
    <appender name="OPEN_TELEMETRY" class="io.opentelemetry.instrumentation.logback.appender.v1_0.OpenTelemetryAppender"/>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="OPEN_TELEMETRY"/>
    </root>

</configuration>
